altgraph==0.17.2
asgiref==3.8.1
click==8.1.8
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
distlib==0.3.8
dj-database-url>=0.5.0
Django==5.1.5
django-jalali==7.3.0
filelock==3.16.0
future==0.18.2
gunicorn==23.0.0
h11==0.14.0
jalali==1.2
jalali_core==1.0.0
jdatetime==5.2.0
mysql-connector-python==8.0.31
numpy==1.22.4
packaging==24.0
pillow==10.4.0
platformdirs==4.3.2
psycopg2-binary>=2.9.9
pyinstaller-hooks-contrib==2022.7
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
uvicorn==0.34.2
virtualenv==20.26.4
